<div class="animate__animated animate__fadeIn animated__faster">
  <h2>Por Región <small>{{regionActiva | titlecase}}</small></h2>
  <hr>
  <h5>Seleccione la región</h5>
  <div class="row">
    <div class="col">
      <!--(click)="mostrarRegion($event)"-->
      <!--[class]="(region===regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'"-->
      <!--
        class="btn"
        [class.btn-primary]="region===regionActiva"
        [class.btn-outline-primary]="region!==regionActiva"
      -->
      <!--[ngClass]="region==regionActiva ? 'btn btn-primary' : 'btn btn-outline-primary'"-->
      <!--
        [ngClass]="{
          'btn': true,
          'btn-primary': region===regionActiva,
          'btn-outline-primary': region!==regionActiva
        }"
      -->
      <button
        *ngFor="let region of regiones"
        [class]="getClaseRegionCSS(region)"
        (click)="mostrarRegion(region)" >
        {{region | titlecase}}
      </button>
    </div>
  </div>
</div>
<hr>

<div class="row" *ngIf="listPaises.length>0">
  <div class="col">
    <app-pais-tabla
      [listPaisesHijo]="listPaises">
    </app-pais-tabla>
  </div>
</div>
