<div class="row container m-4">

  <div class="col-3">
    <h2>Busquedas</h2>
    <hr>
    <ul class="list-group">
        <!--[ngClass]="{'active': true}"-->
        <!--Para el caso del path vacio ('') en el routing se debe colocar [routerLinkActiveOptions]="{ exact: true}"
        el cual indica que se verá con el estilo activo siempre y cuando la url del navegador sea exacto al path
        definido en el route-->
        <li class="list-group-item"
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
          Buscar país
        </li>
        <li class="list-group-item"
            [routerLink]="['/region']"
            routerLinkActive="active">
          Por región
        </li>
        <li class="list-group-item"
            [routerLink]="['/capital']"
            routerLinkActive="active">
          Por capital
        </li>
    </ul>
  </div>

  <div class="col">
    <!--Permite renderizar en esta sección el html de un componente en particular
    dependiendo de la ruta especificada en el app-routing-module.ts-->
    <router-outlet></router-outlet>
  </div>

</div>
